$primary: #00d9ff;

body {
  margin: 0;
}
section {
  position: relative;
  max-width: 1336px;
  margin: auto;
  img {
    max-width: 100%;
  }
  svg {
    margin-top: -2px;
    display: block;
    max-width: 100%;
    position: absolute;
    max-height: 100%;
  }
  .btn {
    fill: $primary;
    opacity: 0;
    // display: none;
    // fill: transparent;
    box-shadow: inset 0 0 0 50px rgb(235,43,129);

  }
}

